<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-language" content="en">
<title>nothing if not | Definition, meaning &amp; more | Collins Dictionary</title>
<meta name="title" content="nothing if not | Definition, meaning &amp; more | Collins Dictionary">
<meta name="description" content="nothing if not | at the very least; certainly | Definition, pronunciation, examples &amp; translations" />
<link rel="canonical" href="http://www.collinsdictionary.com/dictionary/english/nothing-if-not" />
<link rel="alternate" hreflang="x-default" href="http://www.collinsdictionary.com/dictionary/english/nothing-if-not" />
<link rel="alternate" hreflang="en" href="http://www.collinsdictionary.com/dictionary/english/nothing-if-not" />
<link rel="alternate" hreflang="it" href="http://www.collinsdictionary.com/it/dizionario/inglese/nothing-if-not" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?version=3.1.30">
<link type="text/css" rel="stylesheet" media="screen" href="/common.css?version=3.1.30" />
<script type='text/javascript'>
var googletag = googletag || {};
googletag.cmd = googletag.cmd || [];
var dfpSlots = {};
(function() {
var gads = document.createElement('script');
gads.async = true;
gads.type = 'text/javascript';
var useSSL = 'https:' == document.location.protocol;
gads.src = (useSSL ? 'https:' : 'http:') +'//www.googletagservices.com/tag/js/gpt.js';
var node = document.getElementsByTagName('script')[0];
node.parentNode.insertBefore(gads, node);
})();
googletag.cmd.push(function() {
var mapping_btmslot_a = googletag.sizeMapping()
.addSize([745, 0], [[300, 250], [250, 250], [250, 360], [300, 100], [336, 280]]) .addSize([0, 0], [[300, 250], [250, 250], [250, 360], [300, 100]]) .build();
dfpSlots["btmslot_a"] = googletag.defineSlot('/20182162/btmslot', [[300, 250], [250, 250], [250, 360], [300, 100], [336, 280]], 'ad_btmslot_a').defineSizeMapping(mapping_btmslot_a)
.setTargeting('hcd_vp', 'btm') .setTargeting('hcd_hp', 'center') .addService(googletag.pubads());
var mapping_leftslot_a = googletag.sizeMapping()
.addSize([1223, 0], []) .addSize([932, 0], [160, 600]) .addSize([0, 0], []) .build();
dfpSlots["leftslot_a"] = googletag.defineSlot('/20182162/leftslot', [160, 600], 'ad_leftslot_a').defineSizeMapping(mapping_leftslot_a)
.setTargeting('hcd_vp', 'mid') .setTargeting('hcd_hp', 'left') .addService(googletag.pubads());
var mapping_leftslot_b = googletag.sizeMapping()
.addSize([1223, 0], [[120, 600], [160, 600]]) .addSize([0, 0], []) .build();
dfpSlots["leftslot_b"] = googletag.defineSlot('/20182162/leftslot', [], 'ad_leftslot_b').defineSizeMapping(mapping_leftslot_b)
.setTargeting('hcd_vp', 'mid') .setTargeting('hcd_hp', 'left') .addService(googletag.pubads());
var mapping_topslot = googletag.sizeMapping()
.addSize([1223, 0], [[728, 90], [750, 100], [750, 200], [930, 180], [970, 90], [980, 90], [980, 120]]) .addSize([745, 0], [[728, 90], [750, 100]]) .addSize([0, 0], [320, 50]) .build();
dfpSlots["topslot"] = googletag.defineSlot('/20182162/topslot', [[728, 90], [750, 100]], 'ad_topslot').defineSizeMapping(mapping_topslot)
.setTargeting('hcd_vp', 'top') .setTargeting('hcd_hp', 'center') .addService(googletag.pubads());
dfpSlots["topslot"].renderCallback = function(e) { topslotCallback(e) }; var mapping_rightslot = googletag.sizeMapping()
.addSize([932, 0], [[300, 250], [240, 400], [250, 250], [250, 360], [300, 100]]) .addSize([0, 0], []) .build();
dfpSlots["rightslot"] = googletag.defineSlot('/20182162/rightslot', [[300, 250], [240, 400], [250, 250], [250, 360], [300, 100]], 'ad_rightslot').defineSizeMapping(mapping_rightslot)
.setTargeting('hcd_vp', 'top') .setTargeting('hcd_hp', 'right') .addService(googletag.pubads());
googletag.pubads().addEventListener('slotRenderEnded', function(event) { if (!event.isEmpty && event.slot.renderCallback) { event.slot.renderCallback(event); } });
googletag.pubads().setTargeting("hcd_pc", "dictionary"); googletag.pubads().setTargeting("hcd_pt", "entry"); googletag.pubads().setTargeting("hcd_dc", "english"); googletag.pubads().setTargeting("hcd_ei", "nothing-if-not"); 
googletag.pubads().setCategoryExclusion('wprod'); 
googletag.pubads().collapseEmptyDivs(false);
googletag.enableServices();
});
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-1927569-11']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>
<body class="definition context-language-ENGLISH context-dataset-english">
<header class="sticky">
<div class='extra res_hos'>
<div class='quickLinks'>
<a class="current" href="/dictionary/english">English Dictionary</a>
<span>|</span>
<a href="/english-thesaurus">Thesaurus</a>
<span>|</span>
<a href="/translator">Translator</a>
<span>|</span>
<a href="/scrabble/">Scrabble</a>
<span>|</span>
<a href="/word-lovers-blog/">Word Lover's blog</a>
</div>
<div class="userStatus">
<ul class="langs">
<li class='curr_lang'>English <i class='icon-caret-down carret_lang'></i></li>
<li class='drop'><div class='this_page'>This page in</div><div class='other_lang'><a href='http://www.collinsdictionary.com/it/dizionario/inglese/nothing-if-not'>Italiano</a></div></li>
</ul>
<span>|</span>
<i class='icon-user'></i>
<a rel="nofollow" href="https://www.collinsdictionary.com/register" target="_top">Sign Up <i class="icon-angle-right"></i></a>
<span>|</span>
<a rel="nofollow" href="https://www.collinsdictionary.com/login?returnTo=/dictionary/english/nothing-if-not" target="_top">Log In <i class="icon-angle-right"></i></a>
</div>
</div>
<div class='clear'></div>
<div class='left'>
<a class="menuPanelOpenButton icon-bars icon-2x res_hot res_hod res_hoh" title="Menu"></a>
<a class='logo' href="/" title="http://www.collinsdictionary.com/">&nbsp;</a>
</div>
<div class='right'>
<a class='searchPanelOpenButton icon-search icon-2x res_hot res_hod res_hoh' title="Search"></a>
</div>
<div class='res_hos'>
<form action="/search/" class="search-form">
<div class='custom-select-label-container' style='float:left;'>
<span class='custom-select-label res_hos' title="Select your dictionary">English</span><i class='icon-caret-down icon-fw'></i>
</div>
<button type="submit" class='search-submit'><i class='icon-search icon-fw' title="Search"></i></button>
<button class='search-keyboard'><i class='icon-keyboard icon-fw'></i></button>
<select name="dictCode" class='search-select custom-select autoc-dict'>
<optgroup label="English">
<option value='english' selected data-placeholder="English Dictionary">English</option>
</optgroup>
<optgroup label="Thesaurus">
<option value='english-thesaurus' data-placeholder="English Thesaurus">English Thesaurus</option>
<option value='american-thesaurus' data-placeholder="American Thesaurus">American Thesaurus</option>
</optgroup>
<optgroup label="French">
<option value='english-french' data-placeholder="English - French Dictionary">English - French</option>
<option value='french-english' data-specialchar="àâäçèéêëîïôö" data-placeholder="French - English Dictionary">French - English</option>
</optgroup>
<optgroup label="German">
<option value='english-german' data-placeholder="English - German Dictionary">English - German</option>
<option value='german-english' data-specialchar="äöüß" data-placeholder="German - English Dictionary">German - English</option>
</optgroup>
<optgroup label="Spanish">
<option value='english-spanish' data-placeholder="English - Spanish Dictionary">English - Spanish</option>
<option value='spanish-english' data-specialchar="áéíñóúü" data-placeholder="Spanish - English Dictionary">Spanish - English</option>
</optgroup>
<optgroup label="Italian">
<option value='english-italian' data-placeholder="English - Italian Dictionary">English - Italian</option>
<option value='italian-english' data-specialchar="àáèéìíòóùú" data-placeholder="Italian - English Dictionary">Italian - English</option>
</optgroup>
<optgroup label="Chinese">
<option value='english-chinese' data-placeholder="English - Chinese Dictionary">English - Chinese</option>
<option value='chinese-english' data-placeholder="Chinese - English Dictionary">Chinese - English</option>
</optgroup>
<optgroup label="Portuguese">
<option value='english-portuguese' data-placeholder="English - Portuguese Dictionary">English - Portuguese</option>
<option value='portuguese-english' data-specialchar="çáéíóúâêôãõà" data-placeholder="Portuguese - English Dictionary">Portuguese - English</option>
</optgroup>
<optgroup label="Hindi">
<option value='english-hindi' data-placeholder="English - Hindi Dictionary">English - Hindi</option>
<option value='hindi-english' data-placeholder="Hindi - English Dictionary">Hindi - English</option>
</optgroup>
</select>
<div class='autoc-results'></div>
<div class='search-input-container'>
<input type="text" name="q" class="search-input autoc-input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus />
</div>
<div class='custom-select-menu'></div>
</form> </div>
</header>
<nav class='menuPanel'>
<a class='menuPanelCloseButton icon-times icon-2x'></a>
<div class='title'>Menu</div>
<a class="current" href="/">English Dictionary</a>
<a href="/english-thesaurus">Thesaurus</a>
<a href="/translator">Translator</a>
<a href="/scrabble/">Scrabble</a>
<a href="/word-lovers-blog/">Word Lover's blog</a>
<ul class="langs">
<li class='curr_lang'>English <i class='icon-caret-down carret_lang'></i></li>
<li class='drop'><div class='this_page'>This page in</div><div class='other_lang'><a href='http://www.collinsdictionary.com/it/dizionario/inglese/nothing-if-not'>Italiano</a></div></li>
</ul>
<a rel="nofollow" href="https://www.collinsdictionary.com/register" target="_top">Sign Up <i class="icon-angle-right"></i></a>
<a rel="nofollow" href="https://www.collinsdictionary.com/login?returnTo=/dictionary/english/nothing-if-not" target="_top">Log In <i class="icon-angle-right"></i></a>
</nav>
<nav class='searchPanel'>
<a class='searchPanelCloseButton icon-times icon-2x'></a>
<div class='title'>Search</div>
<form action="/search/" class="searchForm">
<p>
<button class='searchButton'><i class='icon-search'></i></button>
<div class='searchInputContainer'>
<input type="text" name="q" class="searchInput autoc-input" placeholder="Query..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
</div>
<div class='autoc-results'></div>
</p>
<p>
<label for='searchDictionary'>Dictionary</label>
<select name="dictCode" id="searchDictionary" class='searchDictionary autoc-dict'>
<optgroup label="English">
<option value='english' selected >English</option>
</optgroup>
<optgroup label="Thesaurus">
<option value='english-thesaurus' >English Thesaurus</option>
<option value='american-thesaurus' >American Thesaurus</option>
</optgroup>
<optgroup label="French">
<option value='english-french' >English - French</option>
<option value='french-english' >French - English</option>
</optgroup>
<optgroup label="German">
<option value='english-german' >English - German</option>
<option value='german-english' >German - English</option>
</optgroup>
<optgroup label="Spanish">
<option value='english-spanish' >English - Spanish</option>
<option value='spanish-english' >Spanish - English</option>
</optgroup>
<optgroup label="Italian">
<option value='english-italian' >English - Italian</option>
<option value='italian-english' >Italian - English</option>
</optgroup>
<optgroup label="Chinese">
<option value='english-chinese' >English - Chinese</option>
<option value='chinese-english' >Chinese - English</option>
</optgroup>
<optgroup label="Portuguese">
<option value='english-portuguese' >English - Portuguese</option>
<option value='portuguese-english' >Portuguese - English</option>
</optgroup>
<optgroup label="Hindi">
<option value='english-hindi' >English - Hindi</option>
<option value='hindi-english' >Hindi - English</option>
</optgroup>
</select>
</p>
</form></nav>
<div class="menuOverlay"></div> <main>
<div class="ad_trick"> <div id='ad_topslot' class='am-default '>
<script type='text/javascript'>googletag.cmd.push(function() { googletag.display('ad_topslot'); });</script>
</div>
</div> 
<div class="dictionary">
<div class='res_cell_left res_hos res_hot'>
<div class="ac_leftslot_a sticky res_hoh res_hos"> <div id='ad_leftslot_a' class='am-default '>
<script type='text/javascript'>googletag.cmd.push(function() { googletag.display('ad_leftslot_a'); });</script>
</div>
</div> <div class="ac_leftslot_b sticky res_hod res_hot res_hos"> <div id='ad_leftslot_b' class='am-default '>
<script type='text/javascript'>googletag.cmd.push(function() { googletag.display('ad_leftslot_b'); });</script>
</div>
</div> </div>
<div class="res_cell_center">
<div class="definition_content res_cell_center_content">
<h1 class="entry_title">Definition of nothing if not</h1>
<div id="nothing-if-not_1">
<div class="homograph-entry">
<div class=" page" id="nothing-if-not" idm_id="000119844"><span class="metadata metadata"><span class=" url">nothing-if-not</span><span class="title title">nothing if not | meaning of nothing if not in Collins Dictionaries</span><span class="description description">nothing if not meaning, definition, what is nothing if not: at the very least; certainly: Learn more.</span><span class="summary summary">at the very least; certainly</span><span class="og og"><span class="title title">What does nothing if not mean and how do you use nothing if not in a sentence?</span><span class="url url">[URL]/nothing-if-not</span></span></span><div class="toc"><a class="toc-group ced" href="/dictionary/english/nothing-if-not">English</a><a class="toc-group cobuild br" href="/dictionary/english/nothing-if-not#nothing-if-not__5">Learner</a></div><div class="dictionary dictionaries"><div class="Collins_Eng_Dict dictionary"><div class=" dictentry" type="full"><div class=" dictlink"><div class="ced entry" lang="en-gb"><div class="entry_header">
<h2 class="h1_entry" id="nothing-if-not__1"><span class=" orth" id="nothing-if-not__2">nothing if not</span></h2></div><div class="content definitions ced"> <div class="socialButtons">
<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.collinsdictionary.com%2Fdictionary%2Fenglish%2Fnothing-if-not" target="_blank" class="socialButtons-facebook icon-facebook" title="Share this page on Facebook" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'facebook']);"></a
><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.collinsdictionary.com%2Fdictionary%2Fenglish%2Fnothing-if-not&via=collinsdict" target="_blank" class="socialButtons-twitter icon-twitter" title="Share this page on Twitter" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'twitter']);"></a
><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.collinsdictionary.com%2Fdictionary%2Fenglish%2Fnothing-if-not" target="_blank" class="socialButtons-google icon-google-plus" title="Share this page on Google+" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'google']);"></a
><a href="#commentsBox" class="socialButtons-comments icon-chat" title="Comment this entry" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'comments']);"></a
>
</div>
<div class="h2_entry">Definitions</div><span class=" hom" id="nothing-if-not__3"><span class=" sense" id="nothing-if-not__4"><span class=" def">at the very least; <a class="ref" href="/dictionary/english/certainly" title="Definition of certainly" type="def">certainly</a></span></span></span><span class=" xr"><span>▷ </span><span class=" lbl">See </span> <a class="ref" href="/dictionary/english/nothing">nothing</a></span><div class="copyright"><span class=" i">Collins English Dictionary</span>. Copyright © Harper Collins Publishers</div></div></div></div></div></div><div class="Cob_Adv_Brit dictionary"><div class=" dictentry" type="full"><div class=" dictlink"><div class="cobuild br entry" lang="en-gb" id="nothing-if-not__5"><div class="entry_header"><h2 class="h1_entry"><span class=" orth" id="nothing-if-not__7">nothing if not</span><span class="dictname"> for learners of English</span></h2><div class="power"><i>Powered by</i> COBUILD</div></div><div class="content definitions cobuild br"> <div class="socialButtons">
<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.collinsdictionary.com%2Fdictionary%2Fenglish%2Fnothing-if-not" target="_blank" class="socialButtons-facebook icon-facebook" title="Share this page on Facebook" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'facebook']);"></a
><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.collinsdictionary.com%2Fdictionary%2Fenglish%2Fnothing-if-not&via=collinsdict" target="_blank" class="socialButtons-twitter icon-twitter" title="Share this page on Twitter" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'twitter']);"></a
><a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.collinsdictionary.com%2Fdictionary%2Fenglish%2Fnothing-if-not" target="_blank" class="socialButtons-google icon-google-plus" title="Share this page on Google+" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'google']);"></a
><a href="#commentsBox" class="socialButtons-comments icon-chat" title="Comment this entry" onclick="_gaq.push(['_trackEvent', 'socialButtons', 'comments']);"></a
>
</div>
<div class="h2_entry">Definitions</div><span class=" hom" id="nothing-if-not__8"><span class=" gramGrp"><span class=" pos">phrase</span></span><span class=" sense" id="nothing-if-not__9"><span class=" def">You use <span class=" hi" rend="b">nothing if not</span> in front of an <a class="ref" href="/dictionary/english/adjective" title="Definition of adjective" type="def">adjective</a> to indicate that someone or something <a class="ref" href="/dictionary/english/clearly" type="def" title="Definition of clearly">clearly</a> has a <a class="ref" href="/dictionary/english/lot#lot__29" title="Definition of lot" type="def">lot</a> of the particular quality <a class="ref" href="/dictionary/english/mention" title="Definition of mention" type="def">mentioned</a>.</span><span class=" lbl" type="pragmatics"><span> [</span>emphasis<span>]</span></span><span class=" exmplgrp"><span class=" quote"><span> ⇒ </span>Professor Fish has been nothing if not professional.</span></span><span class=" exmplgrp"><span class=" quote"><span> ⇒ </span>Hollywood is nothing if not creative, especially if someone else will pick up the bills.</span></span></span></span><span class=" xr"><span> → </span> <a class="ref" href="/dictionary/english/nothing#nothing__29">nothing</a></span><div class="copyright"><span class=" i">COBUILD Advanced English Dictionary</span>. Copyright © Harper Collins Publishers</div></div></div></div></div></div></div><span class=" assets"><span class="Corpus_Examples_EN asset"><span class=" assetlink" target="ucc888ac159e9af03.-17242a22.153cd2406d4.-4b54"><span class=" examples"><div class="content examples"><div class="h2_entry">Example sentences containing 'nothing if not'</div><span class=" cit" type="example"><span class=" quote">And yet this way of using the <a class="ref" href="/dictionary/english/automatic" title="Definition of automatic" type="def">automatic</a> Customs <a class="ref" href="/dictionary/english/clearance" type="def" title="Definition of clearance">clearance</a> of film was nothing if not <a class="ref" href="/dictionary/english/intelligent" title="Definition of intelligent" type="def">intelligent</a>.</span> <span class=" author">Loraine, Philip</span><span class=" title"> LAST SHOT</span><span class=" quote"><a class="ref" href="/dictionary/english/dig" type="def" title="Definition of dig">Dig</a> deep enough and often enough and <a class="ref" href="/dictionary/english/soon" title="Definition of soon" type="def">sooner</a> or later something has to fall into place, and he was nothing if not <a class="ref" href="/dictionary/english/diligent" title="Definition of diligent" type="def">diligent</a>.</span> <span class=" author">Stuart Harrison</span><span class=" title"> LOST SUMMER</span></span><span class=" cit" type="example"><span class=" quote">Jarvis was nothing if not a <a class="ref" href="/dictionary/english/thoughtful" type="def" title="Definition of thoughtful">thoughtful</a> man, and he <a class="ref" href="/dictionary/english/search" type="def" title="Definition of search">searched</a> his mind and <a class="ref" href="/dictionary/english/soul" type="def" title="Definition of soul">soul</a> to see if and where he had gone <a class="ref" href="/dictionary/english/wrong" title="Definition of wrong" type="def">wrong</a>.</span> <span class=" author">Patrick Ness</span><span class=" title"> THE CRASH OF HENNINGTON</span></span></div></span></span></span></span></div>
</div>
</div>
<div class="content-box content-box-origin">
<h2 class="h2_entry">Source</h2>
<div>
<i>Definition of <b>nothing if not</b> from the</i>
<a href="/dictionary/english" title='English Dictionary'>Collins English Dictionary</a>
</div>
</div>
<div class="btmslot_a-container"> <div id='ad_btmslot_a' class='am-default '>
<script type='text/javascript'>googletag.cmd.push(function() { googletag.display('ad_btmslot_a'); });</script>
</div>
</div> <div class="content-box content-box-comments" id="commentsBox">
<div class="user_comments">
<h2 class="h2_entry">Comments</h2>
</div>
<div class="have_your_say">
<a href="https://www.collinsdictionary.com/login?returnTo=/dictionary/english/nothing-if-not">Log in</a> to comment on this word.
</div>
</div> </div>
</div>
<div class="res_cell_right">
<div class="columns_item sidebar_item">
<a class="wotd promoBox" href="/dictionary/english/third-space" title="Definition of null">
<div class="wotd-img" style="background-image:url(https://s3-eu-west-1.amazonaws.com/fr.idm.hcd.cdn/images/wotd/2113);"></div>
<div class="wotd-txt-block">
<div class="wotd-title">third space</div>
<div class="wotd-description">the coffee shop considered as an alternative to a bar or restaurant as a place to socialize outside the home</div>
<div class="wotd-footer">
<i class="icon-caret-right"></i>
Word of the day
</div>
</div>
</a>
</div>
<div id='ad_rightslot' class='am-default '>
<script type='text/javascript'>googletag.cmd.push(function() { googletag.display('ad_rightslot'); });</script>
</div>
<a class="promoBox"
href="http://www.collinsdictionary.com/scrabble/scrabble-blog/tips-for-learning-scrabble-words,271,HCB.html">
<div class="promoBox-img" style="background-image:url(http://resources.collins.co.uk/Dictionary/2.png)"></div>
<div class="promoBox-content">
<div class="promoBox-title">Train like a Scrabble champion</div>
<div class="promoBox-description">Allan Simmons' 5 tips on learning words.</div>
<div class="promoBox-readMore">Show more</div>
</div>
</a>
<a class="promoBox" href="https://www.collinsdictionary.com/register">
<div class="promoBox-content">
<div class="promoBox-title">Join our newsletter</div>
<div class="promoBox-description">All the latest wordy news, linguistic insights, offers and competitions every month.</div>
<img src="http://resources.collins.co.uk/Dictionary/Collins-dictionary-newsletter-signup-150x100.gif" />
<div class="promoBox-button">Sign in</div>
</div>
</a>
<div class="columns_item">
<div class="content-box promoBox lsw">
<table class="lsw_title">
<tr>
<td><i class="icon-community res_hot"></i></td>
<td>Latest Word Submissions</td>
</tr>
</table>
<ul class="lsw_list">
<li><a href="/submission/17988/otium" title="otium"><i class="icon-caret-right"></i> otium</a></li>
<li><a href="/submission/17987/Navier-Stokes+equation" title="Navier-Stokes equation"><i class="icon-caret-right"></i> Navier-Stokes equ...</a></li>
<li><a href="/submission/17986/supersonic+retropropulsion" title="supersonic retropropulsion"><i class="icon-caret-right"></i> supersonic retrop...</a></li>
<li><a href="/submission/17985/microneedling" title="microneedling"><i class="icon-caret-right"></i> microneedling</a></li>
<li><a href="/submission/17984/womance" title="womance"><i class="icon-caret-right"></i> womance</a></li>
<li><a href="/submission/17983/homme+fatale" title="homme fatale"><i class="icon-caret-right"></i> homme fatale</a></li>
</ul>
<a class="view_more" href="/submissions/latest"><i class="icon-caret-right"></i> View More</a>
</div>
</div>
<div class="content-box">
<h2 class="h2">Browse nearby words</h2>
<div class="browse-container">
<ul>
<li><i class="icon-angle-right"></i> <a href="/dictionary/english/nothing-but" title="Definition of nothing but, nearby word of nothing if not">nothing but</a></li>
<li><i class="icon-angle-right"></i> <a href="/dictionary/english/nothing-doing" title="Definition of nothing doing, nearby word of nothing if not">nothing doing</a></li>
<li><i class="icon-angle-right"></i> <a href="/dictionary/english/nothing-for-it" title="Definition of nothing for it, nearby word of nothing if not">nothing for it</a></li>
<li><i class="icon-angle-right"></i> nothing if not</li>
<li><i class="icon-angle-right"></i> <a href="/dictionary/english/nothing-in-it" title="Definition of nothing in it, nearby word of nothing if not">nothing in it</a></li>
<li><i class="icon-angle-right"></i> <a href="/dictionary/english/nothing-in-it-nothing-to-it" title="Definition of nothing in it/nothing to it, nearby word of nothing if not">nothing in it/nothing to it</a></li>
<li><i class="icon-angle-right"></i> <a href="/dictionary/english/nothing-in-particular" title="Definition of nothing in particular, nearby word of nothing if not">nothing in particular</a></li>
</ul>
</div>
<div class="words_that_begin_with">
<p class="view_more">
<a href="/browse/english/words-starting-with-n" title="All ENGLISH words that begin with 'N':">All ENGLISH words that begin with 'N':</a>
</p>
</div>
<div class="clear"></div>
</div>
</div>
</div>
<div class='clear'></div>
</main>
<footer>
<div class='footer_content'>
<div class="main-content">
<div class="footer_block">
<div class="title">Browse the English Dictionary</div>
<ul class='browse-letters'>
<li><a title="Browse English words that start with a digit" href="/browse/english/words-starting-with-digit">#</a></li>
<li><a title="Browse English words that start with 'a'" href="/browse/english/words-starting-with-a">A</a></li>
<li><a title="Browse English words that start with 'b'" href="/browse/english/words-starting-with-b">B</a></li>
<li><a title="Browse English words that start with 'c'" href="/browse/english/words-starting-with-c">C</a></li>
<li><a title="Browse English words that start with 'd'" href="/browse/english/words-starting-with-d">D</a></li>
<li><a title="Browse English words that start with 'e'" href="/browse/english/words-starting-with-e">E</a></li>
<li><a title="Browse English words that start with 'f'" href="/browse/english/words-starting-with-f">F</a></li>
<li><a title="Browse English words that start with 'g'" href="/browse/english/words-starting-with-g">G</a></li>
<li><a title="Browse English words that start with 'h'" href="/browse/english/words-starting-with-h">H</a></li>
<li><a title="Browse English words that start with 'i'" href="/browse/english/words-starting-with-i">I</a></li>
<li><a title="Browse English words that start with 'j'" href="/browse/english/words-starting-with-j">J</a></li>
<li><a title="Browse English words that start with 'k'" href="/browse/english/words-starting-with-k">K</a></li>
<li><a title="Browse English words that start with 'l'" href="/browse/english/words-starting-with-l">L</a></li>
<li><a title="Browse English words that start with 'm'" href="/browse/english/words-starting-with-m">M</a></li>
<li><a title="Browse English words that start with 'n'" href="/browse/english/words-starting-with-n">N</a></li>
<li><a title="Browse English words that start with 'o'" href="/browse/english/words-starting-with-o">O</a></li>
<li><a title="Browse English words that start with 'p'" href="/browse/english/words-starting-with-p">P</a></li>
<li><a title="Browse English words that start with 'q'" href="/browse/english/words-starting-with-q">Q</a></li>
<li><a title="Browse English words that start with 'r'" href="/browse/english/words-starting-with-r">R</a></li>
<li><a title="Browse English words that start with 's'" href="/browse/english/words-starting-with-s">S</a></li>
<li><a title="Browse English words that start with 't'" href="/browse/english/words-starting-with-t">T</a></li>
<li><a title="Browse English words that start with 'u'" href="/browse/english/words-starting-with-u">U</a></li>
<li><a title="Browse English words that start with 'v'" href="/browse/english/words-starting-with-v">V</a></li>
<li><a title="Browse English words that start with 'w'" href="/browse/english/words-starting-with-w">W</a></li>
<li><a title="Browse English words that start with 'x'" href="/browse/english/words-starting-with-x">X</a></li>
<li><a title="Browse English words that start with 'y'" href="/browse/english/words-starting-with-y">Y</a></li>
<li><a title="Browse English words that start with 'z'" href="/browse/english/words-starting-with-z">Z</a></li>
</ul>
<div><a title="Browse all official Collins dictionaries" href="/browse/">View all dictionaries...</a></div>
</div>
<div class="footer_block">
<ul>
<li><div class="title">View more</div></li>
<li><a rel="nofollow" href="/tools-and-widgets">Tools &amp; Widgets</a></li>
<li><a rel="nofollow" href="/api">API</a></li>
<li><a rel="nofollow" href="/advertising">Advertising</a></li>
<li><a rel="nofollow" href="/wordbanks">Word Banks</a></li>
<li><a rel="nofollow" href="/terms-and-conditions">Terms &amp; Conditions</a></li>
<li><a rel="nofollow" href="/contact-us">Contact us</a></li>
</ul>
</div>
<div class="footer_block">
<ul>
<li><div class="title"><i class='icon-globe'></i> Languages</div></li>
<li class="current" >
<a href="/dictionary/english" title="English Dictionary">
English
</a>
</li>
<li >
<a href="/english-thesaurus" title="English Thesaurus">
Thesaurus
</a>
</li>
<li >
<a href="/dictionary/english-french" title="French Dictionary">
French
</a>
</li>
<li >
<a href="/dictionary/english-german" title="German Dictionary">
German
</a>
</li>
<li >
<a href="/dictionary/english-spanish" title="Spanish Dictionary">
Spanish
</a>
</li>
<li >
<a href="/dictionary/english-italian" title="Italian Dictionary">
Italian
</a>
</li>
<li >
<a href="/dictionary/english-chinese" title="Chinese Dictionary">
Chinese
</a>
</li>
<li >
<a href="/dictionary/english-portuguese" title="Portuguese Dictionary">
Portuguese
</a>
</li>
<li >
<a href="/dictionary/english-hindi" title="Hindi Dictionary">
Hindi
</a>
</li>
</ul>
</div>
</div>
</div>
<div class='footer_bottom'>
<i class='fa fa-copyright'></i> &copy; Collins 2016
</div>
</footer> 
<script type="text/javascript" src="/common.js?version=3.1.30" async></script>
</body>
</html>